:root {
	--font-colour: #222;
	--background-colour: white;

	--header-background-colour: green;
	--header-title-font-colour: white;

	--input-background-colour: white;
	--input-border-colour: green;
	--input-font-colour: black;

	--input-disabled-background-colour: white;
	--input-disabled-border-colour: #b5b5b5;
	--input-disabled-font-colour: black;

	--input-wrong-background-colour: #4b4b4b;
	--input-wrong-border-colour: #222;
	--input-wrong-font-colour: #222;

	--input-partial-background-colour: #c2b718;
	--input-partial-border-colour: darkgoldenrod;
	--input-partial-font-colour: darkgoldenrod;

	--input-correct-background-colour: #005700;
	--input-correct-border-colour: #005700;
	--input-correct-font-colour: #397639;

	--keyboard-background-colour: #ddd;

	--keyboard-key-background-colour: white;
	--keyboard-key-border-colour: #d8d8d8;
	--keyboard-key-font-colour: #222;

	--keyboard-key-pressed-background-colour: #dcdcdc;
	--keyboard-key-pressed-border-colour: #d8d8d8;
	--keyboard-key-pressed-font-colour: black;

	--keyboard-key-wrong-background-colour: #4b4b4b;
	--keyboard-key-wrong-border-colour: #222;
	--keyboard-key-wrong-font-colour: #222;

	--keyboard-key-partial-background-colour: #c2b718;
	--keyboard-key-partial-border-colour: darkgoldenrod;
	--keyboard-key-partial-font-colour: darkgoldenrod;

	--keyboard-key-correct-background-colour: #005700;
	--keyboard-key-correct-border-colour: #005700;
	--keyboard-key-correct-font-colour: #397639;
}
/*
@media (prefers-color-scheme: dark) {
	:root {
		--font-colour: white;
		--background-colour: black;
	
		--input-background-colour: #6d6d6d;
		--input-border-colour: green;
		--input-font-colour: white;

		--input-disabled-background-colour: #545454;
		--input-disabled-border-colour: #5e5e5e;
		--input-disabled-font-colour: #e4e4e4;
	
		--keyboard-background-colour: #545454;
	
		--keyboard-key-background-colour: #6d6d6d;
		--keyboard-key-border-colour: #707070;
		--keyboard-key-font-colour: #ebebeb;

		--keyboard-key-pressed-background-colour: #666666;
		--keyboard-key-pressed-border-colour: #7c7c7c;
		--keyboard-key-pressed-font-colour: white;
	}
}
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100vh;
}

body {
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: var(--font-colour);
	line-height: 1;
	background-color: var(--background-colour);
}


header {
	width: 100%;
	background-color: var(--header-background-colour);
	padding: 1rem;
	height: calc(4rem + env(safe-area-inset-top));
}

header > h1 {
	color: var(--header-title-font-colour);
	font-size: 2rem;
}


main {
	height: calc(100vh - 4rem - env(safe-area-inset-top)); /* minus header height */
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	padding-bottom: env(safe-area-inset-bottom);
}


main > #guesses-container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-flow: column nowrap;
	row-gap: 0.25rem;
	flex-grow: 1;
}

main > #guesses-container > .guess-row {
	display: flex;
	flex-flow: row nowrap;
	column-gap: 0.25rem;
}

main > #guesses-container > .guess-row > .letter-input {
	/* Clear default styles */
	border-radius: 0;
	outline: none;
	/* Style from scratch */
	font-size: 1.75rem;
	width: 1.8em;
	height: 1.8em;
	border: 1px solid var(--input-border-colour);
	background-color: var(--input-background-colour);
	text-align: center;
	color: var(--input-font-colour);
}

main > #guesses-container > .guess-row > .letter-input:disabled {
	background-color: var(--input-disabled-background-colour);
	border-color: var(--input-disabled-border-colour);
	color: var(--input-disabled-font-colour);
	opacity: 1;
}

main > #guesses-container > .guess-row > .letter-input.wrong {
	background-color: var(--input-wrong-background-colour);
	border-color: var(--input-wrong-border-colour);
	color: var(--input-wrong-font-colour);
}

main > #guesses-container > .guess-row > .letter-input.partial {
	background-color: var(--input-partial-background-colour);
	border-color: var(--input-partial-border-colour);
	color: var(--input-partial-font-colour);
}

main > #guesses-container > .guess-row > .letter-input.correct {
	background-color: var(--input-correct-background-colour);
	border-color: var(--input-correct-border-colour);
	color: var(--input-correct-font-colour);
}


main > #keyboard-container {
	width: 100%;
	background-color: var(--keyboard-background-colour);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	row-gap: 0.3rem;
	flex-grow: 0;
	padding: 0.5rem 0.3rem;
}

main > #keyboard-container > .keyboard-row {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	column-gap: 0.3rem;
}

main > #keyboard-container > .keyboard-row > .keyboard-key {
	/* clear default button styles */
	border: none;
	background: none;
	border: none;
	outline: none;
	/* style from scratch */
	width: calc(((100vw - (0.3rem * 9)) - 1rem) / 10);
	height: calc((((100vw - (0.3rem * 9)) - 1rem) / 10) * 1.4);
	font-size: 1.25rem;
	color: var(--keyboard-key-font-colour);
	background-color: var(--keyboard-key-background-colour);
	border-radius: 0.3rem;
	border: 1px solid var(--keyboard-key-border-colour);
}

main > #keyboard-container > .keyboard-row > .keyboard-key:active {
	background-color: var(--keyboard-key-pressed-background-colour);
	border-color: var(--keyboard-key-pressed-border-colour);
	color: var(--keyboard-key-pressed-font-colour);
}

main > #keyboard-container > .keyboard-row > .keyboard-key.correct {
	background-color: var(--keyboard-key-correct-background-colour);
	border-color: var(--keyboard-key-correct-border-colour);
	color: var(--keyboard-key-correct-font-colour);
}

main > #keyboard-container > .keyboard-row > .keyboard-key.partial {
	background-color: var(--keyboard-key-partial-background-colour);
	border-color: var(--keyboard-key-partial-border-colour);
	color: var(--keyboard-key-partial-font-colour);
}

main > #keyboard-container > .keyboard-row > .keyboard-key.wrong {
	background-color: var(--keyboard-key-wrong-background-colour);
	border-color: var(--keyboard-key-wrong-border-colour);
	color: var(--keyboard-key-wrong-font-colour);
}

main > #keyboard-container > .keyboard-row > .keyboard-key.special-key {
	width: calc((((100vw - (0.3rem * 9)) - 1rem) / 10) * 1.5);
}

main > #keyboard-container > .keyboard-row > .keyboard-key.special-key > svg {
	width: 1.25rem;
	height: 1.25rem;
	transform: translateY(0.2rem);
}

@media(min-width: 768px) {
	main > #keyboard-container {
		padding: 1rem 0;
		row-gap: 0.75rem;
	}

	main > #keyboard-container > .keyboard-row {
		column-gap: 0.75rem;
	}

	main > #keyboard-container > .keyboard-row > .keyboard-key {
		width: 3.5rem;
		height: 3.5rem;
	}

	main > #keyboard-container > .keyboard-row > .keyboard-key.special-key {
		width: calc(3.5rem * 1.5);
	}
}