* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100vh;
}

body {
	overflow: hidden auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #222;
	line-height: 1;
}


header {
	width: 100%;
	background-color: green;
	padding: 1rem;
}

header > h1 {
	color: white;
	font-size: 2rem;
}


main {
	height: calc(100vh - 4rem);
	position: relative;
}


main > #guesses-container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-flow: column nowrap;
	row-gap: 0.25rem;
	height: 65%;
}

main > #guesses-container > .guess-row {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	column-gap: 0.25rem;
}

main > #guesses-container > .guess-row > .letter-input {
	padding: 0.4em;
	font-size: 2rem;
	width: 1.8em;
	height: 1.8em;
	border: 1px solid #222;
	border-radius: 0;
	outline: none;
	text-align: center;
}

main > #guesses-container > .guess-row > .letter-input:not(:disabled) {
	box-shadow: 0 0 3px rgba(0, 255, 255, 0.75);
	border-radius: 2px;
}

.correct {
	color: 005700;
	border-color: #005700;
	background-color: #397639;
}

.partial {
	background-color: #c2b718;
	border-color: darkgoldenrod;
	color: darkgoldenrod;
}

.wrong {
	background-color: #4b4b4b;
	color: #222;
	border: #222;
}

main > #guesses-container > .guess-row > .submit-button {
	position: absolute;
	left: 100%;
	opacity: 0;
	outline: none;
	pointer-events: none;
}


main > #keyboard-container {
	height: 35%;
	width: 100%;
	background-color: #ddd;
}

main > #keyboard-container > .keyboard-key {
	padding: 1rem;
}

footer {
	background-color: #ddd;
}